In [1]:
import pandas as pd

In [3]:
# Leitura do dataset (arquivos csv)
loja1 = pd.read_csv("loja_1.csv")
loja2 = pd.read_csv("loja_2.csv")
loja3 = pd.read_csv("loja_3.csv")
loja4 = pd.read_csv("loja_4.csv")

In [8]:
loja1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [31]:
# FATURAMENTO 
# Função para trazer o faturamento de cada loja;

def faturamento(dataset):
    faturamento_loja = sum(dataset["Preço"])
    return f'{faturamento_loja:,.2f}'

In [42]:
# VENDAS POR CATEGORIA
# função que traz as vendas por categoria

def vendas_categoria(dataset):
    resultado = dataset.groupby("Categoria do Produto").count()
    return resultado["Produto"]

In [37]:
# MEDIA DE AVALIACOES DAS LOJAS
# função que traz a media de avaliacoes das lojas

def media_avaliacoes(dataset):
    media = dataset["Avaliação da compra"].mean()
    return f'{round(media,2)}'

In [ ]:
# PRODUTOS MAIS VENDIDOS E MENOS VENDIDOS

In [41]:
# FRETE MÉDIO POR LOJA
# função que retorna o valor médio por Loja

def media_frete(dataset):
    media = dataset["Frete"].mean()
    return f'{round(media,2)}'

## 1. FATURAMENTO

In [33]:
#loja 1
print(f'Faturamento Loja_1: {faturamento(loja1)}')
print(f'Faturamento Loja_2: {faturamento(loja2)}')
print(f'Faturamento Loja_3: {faturamento(loja3)}')
print(f'Faturamento Loja_4: {faturamento(loja4)}')

Faturamento Loja_1: 1,534,509.12
Faturamento Loja_2: 1,488,459.06
Faturamento Loja_3: 1,464,025.03
Faturamento Loja_4: 1,384,497.58

## 2. Vendas por Categoria

In [100]:
#loja 1 
print(f'Vendas por categoria \n{vendas_categoria(loja1)}')
print(" ")
print(f'Vendas por categoria \n{vendas_categoria(loja4)}')

Vendas por categoria
Categoria do Produto
brinquedos               324
eletrodomesticos         312
eletronicos              448
esporte e lazer          284
instrumentos musicais    182
livros                   173
moveis                   465
utilidades domesticas    171
Name: Produto, dtype: int64

Vendas por categoria
Categoria do Produto
brinquedos               338
eletrodomesticos         254
eletronicos              451
esporte e lazer          277
instrumentos musicais    170
livros                   187
moveis                   480
utilidades domesticas    201
Name: Produto, dtype: int64

## 3. Média de Avaliações das Lojas

In [39]:
#loja 1 
print(f'Média Avaliações Loja_1 {media_avaliacoes(loja1)}')
print(f'Média Avaliações Loja_2 {media_avaliacoes(loja2)}')
print(f'Média Avaliações Loja_3 {media_avaliacoes(loja3)}')
print(f'Média Avaliações Loja_4 {media_avaliacoes(loja4)}')

Média Avaliações Loja_1 3.98
Média Avaliações Loja_2 4.04
Média Avaliações Loja_3 4.05
Média Avaliações Loja_4 4.0

## 4. Produtos Mais e Menos Vendidos

In [ ]:
teste = loja1.groupby("Produto")["Produto"].count()

In [148]:
maiores = teste.sort_values(ascending=False).head(5)
menores = teste.sort_values(ascending=False).tail(5)

In [150]:
menores

Produto
Ciência de dados com python    39
Pandeiro                       36
Panela de pressão              35
Celular ABXY                   33
Headset                        33
Name: Produto, dtype: int64

In [152]:
maiores

Produto
TV Led UHD 4K         60
Micro-ondas           60
Guarda roupas         60
Secadora de roupas    58
Blocos de montar      56
Name: Produto, dtype: int64

## 5. Frete Medio por Loja

In [43]:
# loja 1
print(f'Frete Médio Loja_1 {media_frete(loja1)}')
print(f'Frete Médio Loja_2 {media_frete(loja2)}')
print(f'Frete Médio Loja_3 {media_frete(loja3)}')
print(f'Frete Médio Loja_4 {media_frete(loja4)}')

Frete Médio Loja_1 34.69
Frete Médio Loja_2 33.62
Frete Médio Loja_3 33.07
Frete Médio Loja_4 31.28